<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Workout Tracker</h3>
</div>

<div>
    <div class="header" ng-show="header.year">
        <h2><span class="btn btn-default" ng-show="header.year" ng-click="showAll()">All</span>
            <span ng-show="header.year && !header.month">{{header.year}}</span>
            <span ng-show="header.month" class="btn btn-default" ng-click="showYear(header.year)">{{header.year}}</span>
            <span ng-show="header.month">{{header.month}}</span>
        </h2>
    </div>
    <ui-view></ui-view>
</div>

<div class="footer">
  <a><span class="glyphicon glyphicon-cloud-download"></span> Available on GitHub</a>
</div>
