
<div>
    <nvd3-multi-bar-chart
            data="data"
            id="exampleId"
            width="750"
            height="550"
            showYAxis="true"
            showLegend="true"
            showXAxis="true"
            delay="1200"
            tooltips="true"
            tooltipcontent="tooltip()"
            callback="callback()"
            rotateLabels="65"
            margin="{left: 50, top: 50, bottom: 100, right: 50}"
            stacked="true">
        <svg></svg>
    </nvd3-multi-bar-chart>
</div>
