<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{'active': bar}"><a ng-click="loadBar()">Bar</a></li>
    <li ng-class="{'active': stateless}"><a ng-click="loadStateless()">Stateless</a></li>
    <li ng-class="{'active': stacked}"><a ng-click="loadStacked()">Updating</a></li>
  </ul>
  <h3 ng-show="bar" class="text-muted">Stateful Workout Tracker</h3>
  <h3 ng-show="stateless" class="text-muted">Stateless Workout Tracker</h3>
  <h3 ng-show="stacked" class="text-muted">Updating Stacked Bar Chart</h3>
</div>

<div>
    <div class="header" ng-show="state.year">
        <h3><span class="btn btn-default" ng-show="state.year" ng-click="showAll()">All</span>
            <span ng-show="state.year && !state.month">{{state.year}}</span>
            <span ng-show="state.month" class="btn btn-default" ng-click="showYear()">{{state.year}}</span>
            <span ng-show="state.month && !state.week">{{state.month}}</span>
            <span ng-show="state.week" class="btn btn-default" ng-click="showMonth()">{{state.month}}</span>
            <span ng-show="state.week">Week {{state.week}}</span>
        </h3>
    </div>
    <ui-view></ui-view>
</div>

<div class="footer">
  <a><span class="glyphicon glyphicon-cloud-download"></span> Available on GitHub</a>
  <span class="pull-right"><a href="http://www.twitter.com/jondejong">@jondejong</a>&nbsp;<a href="http://www.objectpartners.com">www.objectpartners.com</a></span>
</div>
