<div class="header" ng-show="state.year">
    <h3><span class="btn btn-default" ng-show="state.year" ng-click="showAllStateless()">All</span>
        <span ng-show="state.year && !state.month">{{state.year}}</span>
        <span ng-show="state.month" class="btn btn-default" ng-click="showYearStateless()">{{state.year}}</span>
        <span ng-show="state.month && !state.week">{{state.month}}</span>
        <span ng-show="state.week" class="btn btn-default" ng-click="showMonthStateless()">{{state.month}}</span>
        <span ng-show="state.week">Week {{state.week}}</span>
    </h3>
</div>


<div class="row">
    <div class="col-xs-2 new-box">
        <div ng-repeat="selector in selections"><span class="btn btn-default" ng-click="transition(selector)">{{selector}}</span></div>
        <span ng-hide="selections">No Selections</span>
    </div>
    <div class="col-xs-10">
        <nvd3-multi-bar-chart
                data="data"
                id="stateful"
                width="600"
                height="550"
                showYAxis="true"
                showLegend="true"
                showXAxis="true"
                delay="1200"
                tooltips="true"
                tooltipcontent="tooltip()"
                rotateLabels="65"
                margin="{left: 50, top: 50, bottom: 100, right: 50}">
            <svg></svg>
        </nvd3-multi-bar-chart>
    </div>
</div>
